# examine battery state
r_dir_file(system_server, sysfs_usb_supply);

get_prop(system_server, exported_camera_prop);
get_prop(system_server, userspace_reboot_config_prop);
get_prop(system_server, userspace_reboot_exported_prop);

allow system_server proc_last_kmsg:file r_file_perms;

allow system_server app_zygote:process getpgid;
