#
# Copyright 2014 The CyanogenMod Project
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

import /vendor/etc/init/hw/init.qcom.usb.rc
import /vendor/etc/init/hw/init.qcom.power.rc

on early-init
    mount debugfs debugfs /sys/kernel/debug
    chmod 0755 /sys/kernel/debug

on early-boot
    # set RLIMIT_MEMLOCK to 64MB
    setrlimit 8 67108864 67108864
    write /sys/kernel/boot_adsp/boot 1

    start vendor.qseecomd

on boot
    # Bluetooth
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /dev/ttyHS0
    chmod 0660 /dev/ttyHS0

    # Create QMUX deamon socket area
    mkdir /dev/socket/qmux_radio 2770 radio radio
    mkdir /dev/socket/qmux_audio 2770 media audio
    mkdir /dev/socket/qmux_bluetooth 2770 bluetooth bluetooth
    mkdir /dev/socket/qmux_gps 2770 gps gps

    # Create NETMGR daemon socket area
    mkdir /dev/socket/netmgr 0750 radio radio

    mkdir /persist/alarm 0770 system system

    # Camera Recording
    mkdir /dev/video
    symlink /dev/video32 /dev/video/venus_dec
    symlink /dev/video33 /dev/video/venus_enc

    # Assign TCP buffer thresholds to be ceiling value of technology maximums
    # Increased technology maximums should be reflected here.
    write /proc/sys/net/core/rmem_max 8388608
    write /proc/sys/net/core/wmem_max 8388608

    # To allow interfaces to get v6 address when tethering is enabled
    write /proc/sys/net/ipv6/conf/rmnet0/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet1/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet2/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet3/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet4/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet5/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet6/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet7/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_usb0/accept_ra 2

    # To prevent out of order acknowledgements from making
    # connection tracking to treat them as not belonging to
    # the connection they belong to.
    # Otherwise, a weird issue happens in which some long
    # connections on high-throughput links get dropped when
    # an ack packet comes out of order
    write /proc/sys/net/netfilter/nf_conntrack_tcp_be_liberal 1

    # Graphics node permissions
    chown system graphics /sys/class/graphics/fb0/dyn_pu
    chown system graphics /sys/class/graphics/fb0/dynamic_fps
    chown system graphics /sys/class/graphics/fb0/idle_time
    chown system graphics /sys/class/graphics/fb0/mode
    chown system graphics /sys/class/graphics/fb0/modes
    chmod 0664 /sys/class/graphics/fb0/dyn_pu
    chmod 0664 /sys/class/graphics/fb0/dynamic_fps
    chmod 0664 /sys/class/graphics/fb0/idle_time
    chmod 0664 /sys/class/graphics/fb0/mode
    chmod 0664 /sys/class/graphics/fb0/modes

    # Subsytem Restart
    # adsp
    write /sys/bus/msm_subsys/devices/subsys0/restart_level "related"
    # modem
    write /sys/bus/msm_subsys/devices/subsys1/restart_level "related"
    # venus
    write /sys/bus/msm_subsys/devices/subsys2/restart_level "related"

    # Adaptive LMK
    write /sys/module/lowmemorykiller/parameters/enable_adaptive_lmk 1
    write /sys/module/lowmemorykiller/parameters/vmpressure_file_min 53059

    # Wifi firmware reload path
    chown wifi wifi /sys/module/wlan/parameters/fwpath

    # Touchscreen
    chown system system /proc/touchpanel/double_tap_enable
    chmod 0660 /proc/touchpanel/double_tap_enable

on post-fs-data
    # Create OPPO NV item directory
    mkdir /data/opponvitems 0771 radio radio

    # Create directory used by sensor subsystem
    mkdir /persist/sensors 0775 system root
    write /persist/sensors/sensors_settings 1
    chmod 0644 /persist/sensors/sensors_settings
    chown system root /persist/sensors/sensors_settings
    mkdir /data/misc/sensors 0775 system system
    restorecon_recursive /data/misc/sensors

    # Create the directories used by the Wireless subsystem
    mkdir /data/vendor/wifi 0770 wifi wifi
    mkdir /data/vendor/wifi/wpa 0770 wifi wifi
    mkdir /data/vendor/wifi/wpa/sockets 0770 wifi wifi

    # Create directories for Location services
    mkdir /data/misc/location 0770 gps gps
    mkdir /data/misc/location/mq 0770 gps gps
    mkdir /data/misc/location/xtwifi 0770 gps gps

    # Create /data/time folder for time-services
    mkdir /data/time 0700 system system

    setprop vold.post_fs_data_done 1

    # Create PERFD deamon related dirs
    mkdir /data/misc/perfd 2755 root system
    mkdir /data/system/perfd 2770 root system

    # Camera sockets
    mkdir /data/misc/camera 0770 camera camera

on fs
    mkdir /dev/usb-ffs 0770 shell shell
    mkdir /dev/usb-ffs/adb 0770 shell shell
    mount functionfs adb /dev/usb-ffs/adb uid=2000,gid=2000
    write /sys/class/android_usb/android0/f_ffs/aliases adb

    mkdir /dev/bus 0755 root root
    mkdir /dev/bus/usb 0755 root root

    restorecon_recursive /persist

service rmt_storage /system/vendor/bin/rmt_storage
    class core
    user root
    group system wakelock

service rfs_access /system/vendor/bin/rfs_access
    class core
    user system
    group system net_raw

# QMUX must be in multiple groups to support external process connections
service qmuxd /system/vendor/bin/qmuxd
    class main
    user radio
    group radio audio bluetooth gps diag oem_2950

service netmgrd /system/vendor/bin/netmgrd
    class main
    user root
    group root wifi wakelock radio inet oem_2950

# QCOM sensor
service sensors /system/vendor/bin/sensors.qcom
    class late_start
    user root
    group root

on property:apexd.status=ready
    mount none /system/etc/swcodec/ld.config.txt /apex/com.android.media.swcodec/etc/ld.config.txt bind

# Adjust socket buffer to enlarge TCP receive window for high bandwidth
# but only if ro.data.large_tcp_window_size property is set.
on property:ro.data.large_tcp_window_size=true
    write /proc/sys/net/ipv4/tcp_adv_win_scale 2

service irsc_util /system/vendor/bin/irsc_util "/system/vendor/etc/sec_config"
    class main
    user root
    oneshot

service loc_launcher /system/vendor/bin/loc_launcher
    # loc_launcher will start as root and set its uid to gps
    class late_start
    group gps inet net_raw diag oem_2950 net_admin wifi

service vendor.qseecomd /system/vendor/bin/qseecomd
    class core
    user root
    group root

service charger /system/bin/charger
    class charger
    user system
    group system graphics input
    critical
    capabilities SYS_BOOT
    seclabel u:r:charger:s0

on charger
    write /sys/class/leds/lcd-backlight/brightness 100

service qcamerasvr /system/vendor/bin/mm-qcamera-daemon
    class late_start
    user camera
    group camera system inet input graphics gps

service mpdecision /system/vendor/bin/mpdecision --avg_comp
    class main
    user root
    group root readproc
    disabled

service thermal-engine /system/vendor/bin/thermal-engine
    class main
    user root
    group root
    socket thermal-send-client stream 0666 system system
    socket thermal-recv-client stream 0660 system system
    socket thermal-recv-passive-client stream 0666 system system

service time_daemon /system/vendor/bin/time_daemon
    class late_start
    user root
    group root

on property:vold.decrypt=trigger_restart_framework
    start wcnss-service

service hciattach /system/vendor/bin/init.qcom.bt.sh
    class late_start
    user bluetooth
    group bluetooth net_bt_admin oem_2950 diag radio
    disabled
    seclabel u:r:bluetooth_loader:s0
    oneshot

on property:vendor.bluetooth.hciattach=true
    start hciattach

on property:vendor.bluetooth.hciattach=false
    setprop vendor.bluetooth.status off

service adsprpcd /system/vendor/bin/adsprpcd
    class main
    user media
    group media

service wcnss-service /vendor/bin/wcnss_service
    class main
    user system
    group system wifi oem_2950 diag radio
    oneshot
